<div [ngClass]='{contenido_select: true}'>
  <div class="titulo">
    <h4>Alumnos</h4>

    <p>Analiza y observa a tus Alumnos. Eliminalos o Editalos</p>
  </div>
  <div [ngClass]="{fondo_contenido_datos:true}">
    <div [ngClass]="{contenido_datos:true}">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Seccion</th>
            <th scope="col">Nombre</th>
          </tr>
        </thead>

        <tbody class="table-group-divider">
          <tr *ngFor="let item of clases">
            <app-clase [clase] = "item">
            </app-clase>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
